@charset "UTF-8";

*{
    color:rgb(143, 69, 9);
}

.header{
   width: 1000px;
   margin: 0 auto;
   padding: 20px 0;
}
.logo{
    margin: 0;
    text-align: center;
}
section h1{
    margin: 0;
    text-align: center;
}

